/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/*css reset/*
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end css reset */

html{
	height:100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E6E6E6;
    font-family:'Source Sans Pro', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:16px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

@font-face {
	font-family: 'Entypo';
	src: url('Entypo/entypo.eot');
	src:url('Entypo/entypo.eot?#iefix') format('embedded-opentype'),
		url('Entypo/entypo.woff') format('woff'),
		url('Entypo/entypo.ttf') format('truetype'),
		url('Entypo/entypo.svg#Entypo') format('svg');
	font-weight: normal;
	font-style:normal;
}

@font-face {
	font-family: 'Web Symbols';
	src: url('webSymbols/websymbols.eot');
	src:url('webSymbols/websymbols.eot?#iefix') format('embedded-opentype'),
		url('webSymbols/websymbols.woff') format('woff'),
		url('webSymbols/websymbols.ttf') format('truetype'),
		url('webSymbols/websymbols.svg#Web+Symbols') format('svg');
	font-weight: normal;
	font-style:normal;
}

/* Portrait layout */
.app {
    background-color:#fff;   
    width:320px;
    margin:0 auto;
    height:100%;
}

.app-splash {
    background-color:#37466A;   
    width:320px;
    margin:0 auto;
    height:100%;
}

.appW {
    background-color:#fff;   
    width:320px;
    margin:0 auto;
    min-height:100%;
}

/* Global Styles */
.with_border{
	border-bottom:1px solid #ccc;
}

/* Landing Page */

#logo{
	height:320px;
	padding-top:20px;
	position:relative;
}

.logo{
	width:224px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}

/* Header for Subsequent Pages */

#header{
	background-color:#e6e6e6;
}

#header-fixed{
	background-color:#e6e6e6;
	position: fixed;
}

#bump{
	height: 60px;
}


h1 {
    font-size:24px;
    font-family:Avenir,Helvetica,san-serif;
    font-weight:normal;
    margin:0 auto;
    overflow:visible;
    padding:0 52px;
    text-align:center;
    height:60px;
    line-height:62px;
    text-transform:none;
    width:216px;
    background-color: white;
    color: #37466A;
    
}

/* Links & Icons */

a {
	text-decoration:none;
	color:#444;
}

.icon{
	font-family:'Web Symbols';
	text-transform:lowercase;
	line-height:58px;
    font-size:22px;
    color: #37466A;
}

.icon2{
	font-family:Entypo;
	line-height:60px;
	font-size:60px;
}

.right{
	padding-right:18px;
	float:right;
}

.left{
	padding-left:18px;
	float:left;
}

/* Buttons */
.btn_primary_light {
	background-color: transparent;/*#B8B8B8;*/
	height:48px;
	width:224px;
	border:3px solid white;
	font-size:15px;
	text-transform:uppercase;
	font-family:Avenir, Helvetica, san-serif;
	color: white;
	font-weight:500;
	margin:0 auto 24px auto;
	border-radius:6px;
	text-decoration:none;
	line-height:48px;
	display:block;
	text-align:center;
}

.btn_primary_dark {
	background-color: transparent;/*#B8B8B8;*/
	height:48px;
	width:224px;
	border:3px solid #37466A;
	font-size:15px;
	text-transform:uppercase;
	font-family:Avenir, Helvetica, san-serif;
	color: #37466A;
	font-weight:500;
	margin:0 auto 24px auto;
	border-radius:6px;
	text-decoration:none;
	line-height:48px;
	display:block;
	text-align:center;
}




#main_btn, #setup_btn, #color_btn{
	position:absolute;
	bottom:24px;
	width:224px;
	right:0;
	left:0;
	margin:auto;
}

.add{
	height:48px;
	width:50px;
	font-family:'Avenir', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:24px;
    font-weight:bold;
    border: 1px solid #37466A;
    border-radius: 6px;
    margin: 13px auto 0 auto;
    display: block;
    color: #37466A;
    
}

button{
	border:none;
	background:none;
	padding:0;
	margin:0;
	cursor:pointer;
}



/* Add Players form */
.numbers {
	font-size:20px;
	font-family:Avenir, Helvetica, san-serif;
	font-weight:bold;
	line-height:60px;
	padding:0 15px 0 18px;
	color: #37466A;
}

.numbers-subtract{
	font-size:20px;
	font-family:Avenir, Helvetica, san-serif;
	font-weight:bold;
	line-height:60px;
	padding:0 15px 0 18px;
	color: #37466A;
	cursor: pointer;
	border: 1px solid #37466A;
}


#players li {
	height:60px;
}

input[type="text"] {
	height:36px;
	border-radius:6px;
	border: 1px solid #37466A;
	background-color: #d5e3f9;
	width:188px;
	padding:0px 9px;
	line-height:19px;
	position:relative;
	bottom:2px;
	font-size:14px;
	font-family:'Source Sans Pro', Helvetica, sans-serif;
	
}

.swatch {
	height:32px;
	width:32px;
	border-radius:50%;
	border:2px dashed #37466A;
	display:block;
	float:right;
	margin-top:12px;
	margin-right:18px;
}


/* Color Selection Form */

#swatches{
width:253px;
position:absolute;
left:50%;
top:50%;
height:278px;
margin: -148px 0 0 -126px;
}

input[type="radio"]{
display:none;
	
}

input[type="radio"]:checked + span.colorButton {
 	-webkit-box-shadow: 0px 0px 0px 5px #A6ADBF;
	-moz-box-shadow: 0px 0px 0px 5px #A6ADBF;

	border: 2px solid #37466A;
	border-radius:50%;
	width:38px;
	height:38px;

}

input[type="radio"] + span {
	display:inline-block;
	border-radius:50%;
	margin:13px 20px;
	
}

.colorButton {
	width:42px;
	height:42px;
	color:#37466A;
}

#purple{
	background:#9752D4;
}

#pink{
	background:#FF82C9;
}

#red{
	background:#F1445C;
}

#orange{
	background:#FF814B;
}

#yellow{
background:#FFD156;
}

#green{
	background:#94DC5B;
}

#dark-green{
	background:#39A54C;
}

#cyan{
	background:#42DCC9;
}

#blue{
	background:#2B70E7;
}

#grey{
	background:#B4B4B4;
}

#brown{
	background:#965941;
}

#black{
	background:#222222;
}

/*detail image */

#detail_image{
	height:426px;
	width:320px;
}

/*detail footer */

#tags{
height:67px;
border-top:1px solid #ccc;
position:relative;
bottom:0px;
}

/* detail */

#gallery{
	margin-top:5px;
}

div.nomargin{
	margin-right:0px;
}



.pic{
	float:left;
	margin:0 0 5px 5px;
	width:100px;
	height:100px;
}

.pic a{
	width:100px;
	height:100px;
	text-indent:-99999px;
	display:block;
}


.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#countdown {
	width:84px;
	height:84px;
	position:absolute;
	top:66px;
	left:530px;
	background-color:black;
	border-radius:42px;

}

#time {
	color:white;
	font-size:36px;
	line-height:84px;
	text-align:center;
}



